@import "variables";

html, body{
    font-family: Avenir;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
}

hr{
    margin: 0px;
    color: $text-color;
    border-color: $text-color;
    border-style: solid; 
}

.above-fold{
    min-height: 100vh;
}

@import "newsFeed";
@import "weather";
@import "header";
@import "footer";
@import "modal";
@import "settings";