.icon-settings{
    list-style: none;
    li{
        margin: 20px 0px;
    }

    &__view-well{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
            width: 50px;
        }
    }

    &__edit-well{
        display: block;
    }
}

.icon-form{
    &__url{
        @include std-input;
    }

    img{
        height: 50px;
        display: block;
    }
}