.icon-settings{
    list-style: none;
    li{
        margin: 20px 0px;
    }

    &__view-well{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
            width: 50px;
        }
    }

    &__edit-well{
        display: block;
    }
}

.icon-form{
    &__url{
        @include std-input;
    }

    img{
        height: 50px;
        display: block;
    }

    a{
        margin: 0px 5px;
    }
}

.feed-form{

    input {
        @include std-input;
    }

    input[type=checkbox]{
        display: inline-block;
    }

    &__source-checkboxes{
        max-height: 200px;
        overflow-y: auto;
        margin: 10px 0px;

        &__group{
            font-size: 0.8em;
            label{
                font-size: 1.5em;
            }
            &__info{
                .group-info-label{
                    margin: 5px;
                    display: block;
                }
            }
        }
    }

    button {
        @include std-button;
        margin: 5px 5px;
    }
}

.feed-settings {
    &__item{
        &__view{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__edit{
            display: block;
        }
    }
}